/* @group navigation */
.l-nav {
	margin: 0 0 $gutterwidth;
}
.nav {
	list-style-type: none;
	padding: 0;
	li {
		display: block;
		margin-left: 0;
		padding: 0;   
	}
	ul {
		@include zero;
	}
}
.nav-inline {
	li {
		@include box-inline;
	}
}

/* =nav-main */
.nav-main {
	li {
		padding: 0 1px 0 0; margin: 0;
		li {
			background: #e4e3e3;
		}
		a {
			@include vertical(#e4e4e4 ,#f6f6f6);
		}
		a, span {
			display: block;
			padding: 10px;
		}
		li {
			@include zero;
			border: 1px solid #fff;
			border-width: 0 0 1px;
			a {
				background: #e4e3e3 url(img/icons/freccia_dx_grigio.png) no-repeat 15px 50%;
				padding: 5px 15px 5px 30px;
			}
		}
	}
	.has-submenu span {
		background: url(img/icons/sub_nav_regioni.png) no-repeat 99% 50%;
		padding-right: 30px;
	}
}

 /* =nav-lang */
 .nav-lang {
 	@include height(20);
 	/*@include float(right);*/
 	@include group;
 	li {
 		@include float;
 		margin-left: 12px;
 	}
 	a {
 		display: block;
 		span {
 			@include hide-text;
 		}
 	}
 	.flag {
 		background: url(img/icons/sprites_lang.gif) no-repeat 0 0;
 		display: block;
 		width: 25px; height: 20px;
 	}
 	.flag-it {
 		background-position: 0 0;
 	}

 	.flag-gb {
 		background-position: 100% 0;
 	}
}

/* =nav-footer */

.nav-footer {
	text-align: center;
	li {
		margin: 0;
		border: 1px solid #d8d7d7;
		border-width: 0 1px 0 0;
	}
	li:first-child { border-width: 0 1px; }
	a {
		padding: $gutterwidth / 1.5;
	}
}

/* =nav-categories */
.nav-title {
	padding: $gutterwidth / 1.5;
	margin: 0;
}
.nav-categories {
	li {
		@include zero;
		border: 1px solid #fff;
		border-width: 0 0 1px;
		li {
			margin: 0 0 1px;
			border: 0;
		}
	}
	a, strong {
		background: url(img/icons/freccia_bianca.png) no-repeat 98% 12px;
		display: block;
		padding: $gutterwidth / 3 20px $gutterwidth / 3 $gutterwidth / 1.5;
	}
	ul {
		@include zero;
		a {
			background: none;
			padding: $gutterwidth / 3 $gutterwidth / 1.5;
		}
	}
}
.nav-categories {
	strong.active {
		background-position: 98% -249px;
	}
}

.controls-site-nav {
	clear: both;
	overflow: hidden;
	a {
		text-align: center;
		@include float(right);
		padding: $gutterwidth / 1.5;
		margin: 0;
	}
}

