/* @group layout */

body {
	text-align: center;
}
.pg {
	text-align: left;
	max-width: $maxwidth;
	width: 100%;
	margin: 0 auto;
}
.masthead, .content, .contentinfo {
}
.masthead {
	@include pos(relative,2);
}
.content {
	@include pos(relative,1);
	@include group;
	width: 100%;
	clear: both;
	padding: $gutterwidth * 1.4 0;
}
.contentinfo {
	clear: both;
	padding: $gutterwidth / 1.5;
	text-align: center;
	border: 1px solid #ceccc6;
	border-width: 1px 0 0;
}

.nav-block-lang {
	padding: 20px 0;
}
.l-add-social {
	margin: 0 0 $gutterwidth / 1.5;
}